# Node.js dependencies
node_modules/

# Environment variables
.env

# Firebase service account
secrets/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS específicos
.DS_Store
Thumbs.db

# VS Code
.vscode/
